* {
  background-color: black;
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-main {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}

.cta {
  color: aquamarine;
  font-size: 1em;
}

.header-sub {
  font-size: 42px;
  font-weight: 300;
}

.copyright {
  text-align: right;
  color: gray;
}

p {
  font-size: 21px;
  color: gray;
}